<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".repos.iu.compose.ReposActivity"
            android:exported="false"
            android:label="@string/title_activity_repos"
            android:theme="@style/Theme.GitHubAPIAndroid" />
    </application>

</manifest>